@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");

.cointenerAllCards {
  display: inline-block;
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-gap: 55px;
  justify-content: center;
  margin: 0 0 80px 0;
}
.cointenerCard {
  background: black;
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 35px;
}
.imgCard {
  text-align: center;
  margin: 20px 0 10px 0;
}
.proyectName {
  font-size: 18px;

}
.infoProyect {
  font-family: "Lato";
  font-size: 14px;
  padding: 15px;
  color: #b3b3b3;
}
.descriptionProyect {
  margin: 0 0 10px 0;
}
.containerTagList {
  display: inline-block;
}
.technilogies {
  font-family: "Lato";
  font-style: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.tagList {
  color: #b3b3b3;
  padding: 2px 10px;
  margin: 4px;
  background: #2e2e2e;
  border-radius: 50px;
}
.cointenerButtonsCards {
  text-align: center;
  margin: 20px 0 20px 0;
}
.buttonProyect {
  margin: 0 5px 0 0;
  padding: 10px;
  background: #171617;
  color: #b3b3b3;
  width: 48%;
}
.buttonProyect:hover {
  color: #00fa77;
}
@media only screen and (max-width: 1060px) {
  .buttonProyect {
    width: 100%;
    margin-bottom: 10px;
  }
  .cointenerButtonsCards {
    text-align: center;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 992px) {
  .cointenerAllCards {
    display: inline-block;
    display: grid;
    grid-template-columns: repeat(1, 80%);
  }
  .cointenerButtonsCards {
    margin-top: 20px;
  }
  .buttonProyect {
    margin: 0 5px 0 0;
    padding: 10px;
    width: 48%;
  }
}
@media only screen and (max-width: 425px) {
  .buttonProyect {
    width: 100%;
    margin-bottom: 10px;
  }
  .cointenerCard {
    padding: 10px;
  }
}
@media only screen and (max-width: 425px) {
  .proyectName {
    font-size: 20px;
  }
}
