@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

.cointenerAllCards{
    display: inline-block;
    overflow: 60px;
    display: grid;
    grid-template-columns: repeat(2, 30%);
    grid-gap: 55px;
   justify-content: center; 
}
.cointenerCard{
    background: beige;
    width: 100%;
    height: auto;
  /*margin:  0 5px 0 5px;*/
    border-radius: 5px;
    padding: 0 20px 0px 20px;
}
.imgCard{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.infoProyect{
    font-family: "Lato";
    font-size: 12px;
    padding: 15px;
}
.cointenerButtons{
    text-align: center;
    margin: 15px 0 20px 0;
}
.buttonProyect{
    margin: 0 15px 0 0;
    padding: 5px 15px 5px 15px;
    background: black;
    color: beige;
}